body{
    margin:0;
    padding:0;
    font-family:"montserrat";
    background-image: linear-gradient(#e3eff6,#308cba);
    background-size:100%;
    animation:bganimation 15s infinite;
    color:#dbe4ebc0;
}
.text{
    color:white;
    text-align:center;
    text-transform:uppercase;
    margin:350px 0;
    font-size:30px;
}

@keyframes backgroundChange {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }


@keyframes bganimation{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }

100%{
        background-position:0% 50%;
    }
}

::-webkit-scrollbar {
	width: 6px;
	height: 8px;
	background-color: rgb(55, 166, 230);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #5d6371
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #171c20c0;
}

/*鼠标指针样式自行修改*/
body {
	cursor: url(../cursor/Arrow.cur), default;
}
select{
	cursor: url(../cursor/Hand.cur), pointer;
}
button,a:hover{
	cursor: url(../cursor/Hand2.cur), pointer;
}
input{
	cursor:url(../cursor/Help.cur), text;	
}
textarea,input:focus{
	cursor:url(../cursor/IBeam.cur), text;	
}
code{
	cursor: url(../cursor/Handwriting.cur), default;	
}
pre>code{
	cursor: url(../cursor/Copy.cur), default;	
}
